# berisi .env kosong:v,
# nanti isi sendiri pakai data yang udah di kasih:D
# lalu nama file nya di ganti menjadi .env,
# karena file .env yang asli tidak di push di github
# singkat saja:D

# database

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
DB_HOST=my-database
DB_PORT=3306